/* Import fonts from Google's font library*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300&family=Space+Mono:wght@700&display=swap');

.container_post{
    box-sizing: border-box;
    padding: 0;
    width: 300px;
    margin-top: 8%;
    margin-left: 10%;
    font-size: 20px;
}

.form__line{
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

ul {
    list-style-type: none;
}

.label_for-center {
    flex: 1;
    padding: 8px 16px 8px 0;
    white-space: nowrap;
    width: 20vw;
    text-align: left;
    font-family: monospace;
    color: darkolivegreen;
}

.center{
    flex: 2;
    padding: 8px;
    width: 20vw;
    background-color:#faecd2;
    color: darkolivegreen;
    border: 3px solid rgb(164, 175, 141);
}

.center:hover{
    background-color:rgb(142, 233, 177);
}

.form__line > button {
    background: #808080;
    border: 5px;
    padding: 8px;
    color: darkolivegreen !important;
}

.form__line > button:hover{
    background-color:rgb(243, 162, 132);
  }

  .table1{
      position: absolute;
      margin-left: 37%;
      margin-top: -430px;
      width: 60%;
      border: 3px solid rgb(164, 175, 141);
  }

  .table1 th{
    width: 10vw;
    height: 51px;
    border: 3px solid rgb(164, 175, 141);
  }
  .table1 tr td{
    width: 10vw;
    height: 51px;
    border: 3px solid rgb(164, 175, 141);
    text-align: center;
  }

  @media (max-width: 1140px){
    .container_post{
        margin: auto;
        width: 80%;
    }
    .table1{ 
      position: relative;
      margin-top: 0px;
      margin-left: 3%;
      margin-right: 3%;
      width: 94%;
    }
  }
  @media (max-width: 524px){

  }