.form3 > h4{
    text-align: left;
    padding-left: 10%;
  }

.container_form3{
    display: inline-grid;
    grid-template-columns: repeat(2,auto);
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    justify-content:space-between;
    align-items: center;
    gap: 8%;
    padding: 10% 10% 10% 9%;
    border-bottom: 1.2px solid   rgba(137, 141, 104, 0.726);
}

.child_form3{
    line-height: 2;
}

.input_email{
  background-color:#faecd2;
  border: 2px solid rgba(121, 133, 14, 0.726) !important;
  height: 50px;
  width: 30vw;
  font-size: 20px;
  font-family:monospace;
}

.container_form3 > p {
    color: rgba(121, 133, 14, 0.726);
    font-size: 20px;
    font-family:monospace;
}

.src{
    width: 40vw;
    height:  50px;
    font-size: 25px;
     border: 2px solid   rgba(137, 141, 104, 0.726);
     font-family:monospace;
     background-color:#faecd2;
  }

  .src:hover,.input_email:hover{
    background-color:rgb(142, 233, 177);
  }

  .btn{
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: #c1d045;
    border: none;
    color: rgba(121, 133, 14, 0.726);
    font-family:monospace;
  }

  .btn:hover{
    background-color:rgb(243, 162, 132);
  }

  
.form{
    font-family: monospace;
    padding: 0px 0px 30px 0px;
  }
  .form > h4 {
    text-align: left;
  }