h3 {
    text-align: center;
    font-size: 45px;
    font-family:monospace;
    font-weight: normal;
    color: rgba(121, 133, 14, 0.726);
    margin-top: 7%;
}

.search{
    height: 70px;
    width: 600px;
    font-size: 30px;
    font-family: monospace;
  }

.button {
    background-color:rgba(121, 133, 14, 0.726);
    color:antiquewhite;
    padding: 15px;
    height: 70px;
    width: 180px;
    font-size: 25px;
  }


  .field{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container_cat{
    display: inline-grid;
    grid-template-columns: repeat(4,auto);
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:space-between;
    align-items: center;
    gap: 8%;
    padding: 10% 10% 10% 9%;
    border-bottom: 1.2px solid   rgba(137, 141, 104, 0.726);
    
  }
  .box{
    border-bottom: 1.2px solid   rgba(137, 141, 104, 0.726);
    padding: 10px;
  }

  .child_cat{
    background: rgba(137, 141, 104, 0.726);
    width: 100%;
    height: auto;
  }

  .cat4{
    height: 27px;
  }

  .container_books{
    display: inline-grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4,auto);
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:space-between;
    align-items: center;
    gap: 8%;
    padding: 2% 10% 10% 9%;
    border-bottom: 1.2px solid   rgba(137, 141, 104, 0.726);
    border-top: 1.2px solid   rgba(137, 141, 104, 0.726);
  }

  .child_books{
    background: rgba(137, 141, 104, 0.726);
    width: 100%;
    height: auto;
  }

  .booktext_img{
    text-align: center;
  background-color:#faecd2;
  color: rgba(121, 133, 14, 0.726);
  font-size: 20px;
  font-family:monospace;
  padding-top: 5%;
  padding-right:160px;
  }

  .news{
    display: flex;
    padding-left: 90px;

  }

  .logo1{
    border-right: 1.2px solid rgba(121, 133, 14, 0.726);;
    padding: 100px 210px 100px 210px;
   
  }