/* Specifying box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removing internal padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Removing margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  list-style: none;
}

/* We set the basic default settings for the body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Removable styling for all attributes that have a standard class*/
ul[class],
ol[class]{
  list-style: none;
}

a{
  text-decoration: none;
  border-bottom-style: none;
}

/* Making it easier to work with images */
img {
  max-width: 100%;
  display: block;
}

/* We indicate a clear frequency in the data flow for article*/
article > * + * {
  margin-top: 1em;
}

/* Inheriting fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people who prefer not to use the ms */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,html{
  background-color:#faecd2;
}




